---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Carousel from '../components/Carousel.astro';
import USP from '../components/USP.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PowerHeat Team</title>
	</head>
	<body>
		<Header />
		<marquee behavior="scroll" direction="left">
		<div class="marquee-container">
			🚿 Plumbing &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp;🔥 Heating &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp;⚡ Electrical Services &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp; 24/7 Emergency Callouts &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp; Trusted Local Experts &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp; Affordable Rates &nbsp;&nbsp;&nbsp; • &nbsp;&nbsp;&nbsp; Call Us Today: Electrical: 07519662153 Plumbing & Heating: 07958112881
		</div>
		</marquee>
		<Hero />
		<USP />
		<Carousel />
		<Services />
        <script>
			import "../scripts/menu.js"
        </script>
	</body>
</html>
