---
---

<footer>
    <div class="flex-container">
        <div class="flex-item">
            <form action="">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="msg">Message</label><br>
                <input type="text" id="msg" name="msg"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="flex-item"></div>
        <div class="flex-item"></div>
    </div>
</footer>

<style>
    
</style>