---

---	
        
        <div class="flex-container hero">
            <div class="overlay">
                    <div class="hero-content-wrapper">
                      <h1 style="color: orange;">Electrical, Plumbing & Heating Specialists</h1>
                      <h2>A <span style="color:orange;">family run business</span> proudly serving <span style="color:orange;">Newcastle Upon Tyne</span></h2>
                      <h2>Back by <span style="color:orange;">over 30 years industry experience</span> in Electrical, Plumbing and Heating</h2>
                      <h2> Our commitment is simple: honest work, top-quality service, and <span style="color:orange;"> the same care we’d want for our own family.</span></h2>
                      <div class="usp-list">
                            <div class="usp-item">
                                <div><img src="check-mark.png" alt=""></div>
                                <div>All our work is guaranteed for 12 Months</div>
                            </div>
                            <div class="usp-item">
                                <div><img src="check-mark.png" alt=""></div>
                                <div>We are available 24/7</div>
                            </div>
                            <div class="usp-item">
                                <div><img src="check-mark.png" alt=""></div>
                                <div>All our engineers are experienced & insured</div>
                            </div>
                            <div class="usp-item">
                                <div><img src="check-mark.png" alt=""></div>
                                <div>Skilled in all electrical, plumbing and heating jobs</div>
                            </div>
                        </div>
                      <div class="cta-wrapper">
                          <div class="flex-item"><a href=href="tel:07519662153"><button class='cta-button'><img src="/phone.png" alt="">07519662153</button></a></div>  
                          <div class="flex-item"><a href="/contactus"><button class='cta-button'>Book A Callout</button></a></div> 
                      </div>
                  </div>
            </div>    
        </div>

        <style>
            .hero {
                background: url("/hero_background.png") no-repeat right;
                background-size: cover;
                min-height: 75vh;
                position: relative;
                font-family: sans-serif;
                color: white;
              }

          .overlay {
            background-color: rgba(128, 127, 127, 0.87);
            inset: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          h1 {
            font-size: 3rem;
          }

          h2 {
            font-size: 1.75rem;
          }



          .hero-wrapper {
              display: flex;
              flex-direction: row;
          }

          .hero-content-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              text-wrap: pretty;
              margin: 0 5%;
          }

          .cta-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5%;
            margin-top: 2%;
            margin-bottom: 6%;
        }

         .cta-button {
            padding: 1rem;
            background-color: orange;
            display: flex;
    }

        .cta-wrapper img {
            height: 30px;
            padding-right: 10px;
    }

          .usp-list {
            margin-top: 1rem;
            font-size: 1.25rem;
            margin-inline: auto;
          }

          .usp-item {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 1rem;
            margin-top: 0.75rem;
          }

          img {
            height: 1rem;
          }

          @media screen and (max-width: 800px) {

              .hero {
              min-height: auto;   /* let content decide on mobile */
              /* padding: 2rem 1rem; */
            }

            .content {
              width: 100%;
              padding: 1rem;
            }

          h1 {
            font-size: 1.75rem;
          }

          h2 {
            font-size: 0.85rem;
          }

          .usp-item {
            font-size: 0.8rem;
          }

          .cta-button {
            font-size: 1.25rem;
            margin: auto;
          }

          .cta-wrapper {
            flex-direction: column;
            margin-inline: auto;
          }

          .flex-item {
            margin-top: 5%;
          }
}

        </style>

        