---

---	
        
        <div class="flex-container hero">
            <div class="overlay">
                <div class="content">
                    <h1 class="flex-item">Electrical, Plumbing & Heating Specialists</h1>
                    <p>A local company founded by family. 20 years experience in Electrical, Plumbing and Heating. We strive to give our customers the same quality we would expect for our own family.</p>
                    <div class="flex-item"><a href="/contactus"></a><button class='cta-button'>Contact Us</button></a></div>
                </div>
            </div>    
        </div>

        